.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.news-form {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

.news-field {
  width: 100%;
}

mat-form-field{
  width: 100%;
}
