<h1  class="title">Общежитие № 12</h1>
<p  style="text-align: left;">Общежитие коридорного типа располагается по адресу:</p>
<p  style="text-align: left;">220013 г. Минск, ул. Сурганова, 37, кор. 2.</p>
<p style="text-align: left;">Введено в эксплуатацию в апреле 1968 года. Количество мест - 266.</p>
<p style="text-align: left;">В общежитии проживают студенты факультета информационных технологий и робототехники.</p>

<h1  class="title">Коллектив общежития</h1>
<p  style="text-align: left;">
  <strong>Комендант общежития:</strong> Валюк Оксана Викторовна</p>
<p  style="text-align: left;">
  <strong>Воспитатель:</strong> Гайдукевич Людмила Николаевна</p>
<p  style="text-align: left;">
  <strong>Ответсвенный за сортивную жизнь:</strong> Пильневич Анатолий Александрович</p>
<p  style="text-align: left;">
  <strong>Кастелянша:</strong> Синевич Мария Валерьевна</p>

<h1 class="title">Контакты</h1>
<p style="text-align: left;"><strong>Справочная БНТУ:</strong></p>
<p>
  +375 17 292-10-11
  <br>
  +375 17 293-93-30
  <br>
  <br>
  Информацию о заселении и форму заявления на заселение можно найти в разделе
  <a href="http://localhost:4200/documents">документы</a>.
</p>

<h1 class="title">Материально-техническая база общежития</h1>
<p style="text-align: left;">
  В общежитии созданы благоприятные условия для учёбы, отдыха, быта, проведения культурно-массовых и
  спортивных мероприятий, внедрения здорового образа жизни,
  занятия кружковой деятельностью, оборудованы комнаты социально-бытового назначения.</p>
<img src="/assets/fotos.jpg" alt="image" class="image">


