<!--todo validation EMAIL и всего остального-->
<h3 mat-dialog-title> Добавить документ </h3>
<div mat-dialog-content [formGroup]="formGroup">
  <div>
    <mat-form-field>
      <ngx-mat-file-input formControlName="fileControl" [multiple]="false" [accept]="accept" #file>
        <mat-icon ngxMatFileInputIcon>folder</mat-icon>
      </ngx-mat-file-input>
      <mat-error *ngIf="formGroup.get('fileControl').hasError('required')">
        Пожалуйста выберите файл
      </mat-error>
      <mat-error *ngIf="formGroup.get('fileControl').hasError('maxSize')">
        Превышен максимальный размер файла
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Категория</mat-label>
      <mat-select [(value)]="categoryIndex" name="category" formControlName="categoryControl">
        <mat-option *ngFor="let category of data, let i = index" [value]="i">
          {{category.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.get('categoryControl').hasError('required')">
        Пожалуйста выберите категорию
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field color="primary">
      <input matInput placeholder="Отображаемое имя документа"
             [(ngModel)]="documentName" formControlName="documentControl"
             maxlength="40" #message>
      <mat-hint align="end">{{message.value.length}} / 40</mat-hint>
      <mat-error *ngIf="formGroup.get('documentControl').hasError('required')">
        Пожалуйста введите имя документа
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]="1" (click)="addDocument()"
          [disabled]="!formGroup.valid">Добавить</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Отмена</button>
</div>
