<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form *ngIf="!isLoggedIn" class="wrap" [formGroup]="formGroup">
      <div>
        <mat-form-field class="field" color="primary">
          <input matInput placeholder="Логин" formControlName="usernameControl"
                 [(ngModel)]="form.username" required>
          <mat-error *ngIf="formGroup.get('usernameControl').hasError('required')">
            Пожалуйста введите логин
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="field" color="primary">
          <input matInput type="password"
                 formControlName="passwordControl" placeholder="Пароль" [(ngModel)]="form.password" required>
          <mat-error *ngIf="formGroup.get('passwordControl').hasError('required')">
            Пожалуйста введите пароль
          </mat-error>
        </mat-form-field>
      </div>
      <div class="alert alert-danger" style="margin-top: 2%" role="alert" *ngIf="isLoginFailed">
        Неверный логин или пароль
      </div>
      <div class="button-margin">
        <button mat-flat-button color="primary" (click)="onSubmit()">
          Войти
        </button>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Добро пожаловать {{ username }}!
    </div>
  </div>
</div>
