<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />

    <div class="form-group">
      <p>
        <strong>Логин: </strong>
        {{user.username}}
      </p>
      <p>
        <strong>Почта:</strong>
        {{user.email}}
      </p>
      <p>
        <strong>Имя:</strong>
        {{user.name}}
      </p>
      <p>
        <strong>Фамилия:</strong>
        {{user.surname}}
      </p>
      <p>
        <strong>Отчество:</strong>
        {{user.patronymic}}
      </p>
    </div>
    <button mat-raised-button [disabled]="!userExist" color="primary" (click)="startEdit(user.id, user.username, user.name, user.surname, user.patronymic, user.email)">Изменить</button>
  </div>
</div>



