<div class="admin-button" *ngIf="show">
  <button mat-button (click)="addNews()">Добавить новость</button>
</div>

<div class="container">
  <mat-card *ngFor="let item of news">
    <img mat-card-image src="{{item.file.url}}" alt="picture">
    <mat-card-title class="text-center">
      <a href="{{baseNewsUrl + item.id}}">{{item.title}}</a>
    </mat-card-title>
    <mat-card-content>
      {{item.preview}}
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="show">
      <button mat-icon-button color="warn" (click)="deleteNews(item.id, item.title)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

