
<h3 mat-dialog-title> Изменение: {{data.username}}</h3>

<form class="wrap" [formGroup]="formGroup">

  <div>
    <mat-form-field class = "field" color="accent">
      <input matInput placeholder="Фамилия" formControlName="nameControl"
             [(ngModel)]="data.surname" required>
      <mat-error *ngIf="formGroup.get('nameControl').hasError('required')">
        Пожалуйста введите имя
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field  class = "field" color="accent">
      <input matInput formControlName="surnameControl" placeholder="Имя" [(ngModel)]="data.name" required>
      <mat-error *ngIf="formGroup.get('surnameControl').hasError('required')">
        Пожалуйста введите фамилию
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class = "field" color="accent">
      <input matInput formControlName="patronymicControl"
             placeholder="Отчество" [(ngModel)]="data.patronymic">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class = "field" color="accent">
      <input matInput formControlName="emailControl" placeholder="Email"
             [(ngModel)]="data.email" email required>
      <mat-error *ngIf="formGroup.get('emailControl').hasError('required')">
        Пожалуйста введите email
      </mat-error>
      <mat-error *ngIf="formGroup.get('emailControl').hasError('email')">
        Некорректный email
      </mat-error>
    </mat-form-field>
  </div>
  <mat-error *ngIf="error!=''">
    {{error}}
  </mat-error>
  <div mat-dialog-actions align="center" >
    <button mat-button [disabled]="!formGroup.valid" (click)="stopEdit()">Сохранить</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Отмена</button>
  </div>
</form>
