<div class="center">
  <button mat-button (click)="addCategory()">Добавить категорию</button>
  <button mat-button (click)="addDocument()">Добавить документ</button>
</div>
<div class="center">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let category of categories">
      <mat-expansion-panel-header class="row">
        <mat-panel-title>
          {{ category.name }}
        </mat-panel-title>
        <mat-panel-description>
          <div class="col-3 ">
            <button mat-button (click)="deleteCategory(category.id)"> Удалить</button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let document of documents">
        <div *ngIf="category.name === document.category.name">
          <li class="list-group-item">
            <a href="{{document.file.url}}">{{ document.name }}</a>
          </li>
        </div>
        <!--<button mat-button mat-align-tabs="end">Basic</button>-->
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
