<div class="center" *ngIf="show">
  <button mat-raised-button color="primary" (click)="addCategory()">Добавить категорию</button>
  <button mat-raised-button color="primary" (click)="addDocument()" style="margin-left: 10px">Добавить документ</button>
</div>

<div class="center">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let category of categories" [disabled]="clickButton" (click)="clickButton=false">
      <mat-expansion-panel-header class="row">
        <mat-panel-title class="title">
          {{ category.name }}
        </mat-panel-title>
        <mat-panel-description class="col-3" *ngIf="show">
          <div>
            <button mat-raised-button color="primary" (click)="updateCategory(category)" style="margin-right: 5px">
              Изменить
            </button>
            <button mat-raised-button color="accent" (click)="deleteCategory(category.id, category.name)">
              Удалить
            </button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <div *ngFor="let document of documents">
        <div *ngIf="category.name === document.category.name">
          <mat-card>
            <a href="{{ document.file.url }}">{{ document.name }}</a>
            <button mat-icon-button color="warn" (click)="deleteDocument(document.id, document.name)" *ngIf="show">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
