<div class="container">
  <!--todo validation EMAIL и всего остального-->
  <h3 mat-dialog-title> Редактирование категории "{{categoryData.name}}"</h3>
  <div mat-dialog-content>
    <mat-form-field color="primary">
      <input matInput placeholder= "Введите новое название" [(ngModel)]="category.name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="1" (click)="updateCategory()">Обновить</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Отмена</button>
  </div>
</div>
