<!--TODO register and login to angular forms!-->

<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"/>
    <form *ngIf="!isSuccessful" class="wrap" [formGroup]="formGroup">
      <div>
        <mat-form-field class="field" color="primary">
          <input matInput placeholder="Логин" formControlName="usernameControl"
                 [(ngModel)]="user.username" required>
          <mat-error *ngIf="formGroup.get('usernameControl').hasError('required')">
            Пожалуйста введите логин
          </mat-error>
          <mat-error *ngIf="formGroup.get('usernameControl').hasError('exist')">
            {{errorMessage}}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="field" color="primary">
          <input matInput placeholder="Фамилия" formControlName="surnameControl"
                 [(ngModel)]="user.surname" required>
          <mat-error *ngIf="formGroup.get('surnameControl').hasError('required')">
            Пожалуйста введите фамилию
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="field" color="primary">
          <input matInput formControlName="nameControl" placeholder="Имя" [(ngModel)]="user.name" required>
          <mat-error *ngIf="formGroup.get('nameControl').hasError('required')">
            Пожалуйста введите имя
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="field" color="primary">
          <input matInput formControlName="patronymicControl"
                 placeholder="Отчество" [(ngModel)]="user.patronymic">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="field" color="primary">
          <input matInput formControlName="emailControl" placeholder="Email"
                 [(ngModel)]="user.email" email required>
          <mat-error *ngIf="formGroup.get('emailControl').hasError('required')">
            Пожалуйста введите email
          </mat-error>
          <mat-error *ngIf="formGroup.get('emailControl').hasError('email')">
            Некорректный email
          </mat-error>
          <mat-error *ngIf="formGroup.get('emailControl').hasError('exist')">
            {{errorMessage}}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="field" color="primary">
          <input matInput type="password"
                 formControlName="passwordControl" placeholder="Пароль" [(ngModel)]="user.password" required>
          <mat-error *ngIf="formGroup.get('passwordControl').hasError('required')">
            Пожалуйста введите пароль
          </mat-error>
        </mat-form-field>
      </div>

      <mat-error *ngIf="errorMessage.includes('Сервер')">
        {{errorMessage}}
      </mat-error>

      <div class="button-margin">
        <button mat-flat-button color="primary" [disabled]="!formGroup.valid" (click)="stopEdit()">
          Зарегистрироваться
        </button>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Вы успешно зарегистрированы!
    </div>

  </div>
</div>
